<div>
    <div class="tds-headline-02 tds-u-pb1">Checkbox</div>
    <tds-checkbox value="checkbox-value">
        <span slot="label">Enabled</span>
    </tds-checkbox>
    <tds-checkbox disabled value="checkbox-value">
        <span slot="label">Disabled</span>
    </tds-checkbox>
    <tds-checkbox checked value="checkbox-value">
        <span slot="label">Checked</span>
    </tds-checkbox>
    <tds-checkbox disabled checked value="checkbox-value">
        <span slot="label">Checked & Disabled</span>
    </tds-checkbox>
</div>