<div>
    <div class="tds-headline-02 tds-u-pb1">Breadcrumbs</div>
    <div *ngIf="segments.length > 1 && segments[1].path !== '/web-components'" class="root">
        <tds-breadcrumbs>
          <ng-container *ngFor="let segment of segments; let idx = index">
            <app-breadcrumb
              [key]="segment.path"
              [segment]="segment"
              [isLast]="idx >= segments.length - 1"
              [idx]="idx"
            ></app-breadcrumb>
          </ng-container>
        </tds-breadcrumbs>
      </div>
</div>