<sdds-footer>
  <div slot="main-left">
    <sdds-footer-group>
      <sdds-footer-item>
        <a href="#">Link text</a>
      </sdds-footer-item>
      <sdds-footer-item>
        <a href="#">Link text</a>
      </sdds-footer-item>
      <sdds-footer-item>
        <a href="#">Link text</a>
      </sdds-footer-item>
      <sdds-footer-item>
        <a href="#">Link text</a>
      </sdds-footer-item>
    </sdds-footer-group>
  </div>
  <div slot="main-right">
    <sdds-footer-group>
      <sdds-footer-item>
        <a href="#"><sdds-icon name="truck"></sdds-icon></a>
      </sdds-footer-item>
      <sdds-footer-item>
        <a href="#"><sdds-icon name="truck"></sdds-icon></a>
      </sdds-footer-item>
      <sdds-footer-item>
        <a href="#"><sdds-icon name="truck"></sdds-icon></a>
      </sdds-footer-item>
    </sdds-footer-group>
  </div>
</sdds-footer>
