<tds-footer>
  <div slot="main-left">
    <tds-footer-group>
      <tds-footer-item>
        <a href="#">Link text</a>
      </tds-footer-item>
      <tds-footer-item>
        <a href="#">Link text</a>
      </tds-footer-item>
      <tds-footer-item>
        <a href="#">Link text</a>
      </tds-footer-item>
      <tds-footer-item>
        <a href="#">Link text</a>
      </tds-footer-item>
    </tds-footer-group>
  </div>
  <div slot="main-right">
    <tds-footer-group>
      <tds-footer-item>
        <a href="#"><tds-icon name="truck"></tds-icon></a>
      </tds-footer-item>
      <tds-footer-item>
        <a href="#"><tds-icon name="truck"></tds-icon></a>
      </tds-footer-item>
      <tds-footer-item>
        <a href="#"><tds-icon name="truck"></tds-icon></a>
      </tds-footer-item>
    </tds-footer-group>
  </div>
</tds-footer>
