<tds-footer>
  <div slot="top">
    <tds-footer-group title-text="Pages">
      <tds-footer-item>
        <a routerLink="/">Home</a>
      </tds-footer-item>
      <tds-footer-item>
        <a routerLink="/form">Form</a>
      </tds-footer-item>
    </tds-footer-group>
    <tds-footer-group title-text="Legals">
      <tds-footer-item>
        <a routerLink="/">Terms & Conditions</a>
      </tds-footer-item>
      <tds-footer-item>
        <a routerLink="/">Privacy policy</a>
      </tds-footer-item>
    </tds-footer-group>
    <tds-footer-group title-text="Design">
      <tds-footer-item>
        <a routerLink="/">Grid system</a>
      </tds-footer-item>
      <tds-footer-item>
        <a routerLink="/">Icons</a>
      </tds-footer-item>
      <tds-footer-item>
        <a routerLink="/">Usability testing</a>
      </tds-footer-item>
      <tds-footer-item>
        <a routerLink="/">User personas</a>
      </tds-footer-item>
    </tds-footer-group>
    <tds-footer-group title-text="Support">
      <tds-footer-item>
        <a routerLink="/">Contact</a>
      </tds-footer-item>
      <tds-footer-item>
        <a routerLink="/">FAQ</a>
      </tds-footer-item>
    </tds-footer-group>
  </div>
<div slot="main-left">
  <tds-footer-group>
    <tds-footer-item>
      <a routerLink="/">Link text</a>
    </tds-footer-item>
    <tds-footer-item>
      <a routerLink="/">Link text</a>
    </tds-footer-item>
    <tds-footer-item>
      <a routerLink="/">Link text</a>
    </tds-footer-item>
    <tds-footer-item>
      <a routerLink="/">Link text</a>
    </tds-footer-item>
  </tds-footer-group>
</div>
<div slot="main-right">
  <tds-footer-group>
    <tds-footer-item>
      <a routerLink="/">
        <tds-icon name="truck"></tds-icon>
      </a>
    </tds-footer-item>
    <tds-footer-item>
      <a routerLink="/">
        <tds-icon name="truck"></tds-icon>
      </a>
    </tds-footer-item>
    <tds-footer-item>
      <a routerLink="/">
        <tds-icon name="truck"></tds-icon>
      </a>
    </tds-footer-item>
  </tds-footer-group>
</div>
</tds-footer>
