
<div>
    <div class="tds-headline-02 tds-u-pb1">Datetime</div>
    <div class="tds-u-flex tds-u-flex-dir-col tds-u-gap2">
        <tds-datetime></tds-datetime>
        <tds-datetime
        no-min-width
                    name="endDate"
                    id="end-datetime"
                    mode-variant="primary"
                    type="date"
                    size="sm"
                    min="2024-04-19"
                    max="2025-04-19">
                </tds-datetime>
        <tds-datetime type="time"></tds-datetime>
    </div>
</div>
