<div class="tds-headline-02">Message</div>
<p class="tds-body-01">Message types</p>
<div class="tds-u-pb1">
  <tds-toggle
    [checked]="useIcon"
    (tdsToggle)="handleUseIconToggle($event)"
  >
    <div slot="label">With Icon</div>
  </tds-toggle>
</div>
<div class="tds-u-pb1">
  <tds-toggle
    [checked]="useMinimal"
    (tdsToggle)="handleUseMinimalToggle($event)"
  >
    <div slot="label">Minimal</div>
  </tds-toggle>
</div>
<div class="tds-u-flex tds-u-flex-dir-col tds-u-gap1">
  <tds-message
    [noIcon]="!useIcon"
    [minimal]="useMinimal"
    variant="information"
    header="Message header"
    mode-variant="inherit from parent"
  >
    <div>Longer message text can be placed here. Longer message text can be placed here.</div>
  </tds-message>
  <tds-message
    [noIcon]="!useIcon"
    [minimal]="useMinimal"
    variant="error"
    header="Message header"
    mode-variant="inherit from parent"
  >
    <div>Longer message text can be placed here. Longer message text can be placed here.</div>
  </tds-message>
  <tds-message
    [noIcon]="!useIcon"
    [minimal]="useMinimal"
    variant="success"
    header="Message header"
    mode-variant="inherit from parent"
  >
    <div>Longer message text can be placed here. Longer message text can be placed here.</div>
  </tds-message>
</div>
