<sdds-header class="sdds-u-fixed sdds-u-top0">

  <sdds-header-hamburger
    id="demo-hamburger"
    aria-label="Open application drawer"
    aria-haspopup="true"
    aria-expanded="false"
  ></sdds-header-hamburger>

  <sdds-header-title>Example: Few items</sdds-header-title>

  <sdds-header-item>
    <a routerLink="/page-one">Page one</a>
  </sdds-header-item>
  <sdds-header-item>
    <a routerLink="/page-two">Page Two</a>
  </sdds-header-item>
  <sdds-header-brand-symbol
    slot="end"
    aria-label="Scania - red gryphon on blue shield"
    link-href="/"
    routerLink="/"
  ></sdds-header-brand-symbol>
</sdds-header>
