<ng-container>
  <tds-header class="tds-u-fixed tds-u-top0">
    <tds-header-hamburger
      id="demo-hamburger"
      aria-label="Open application drawer"
      aria-haspopup="true"
      aria-expanded="false"
    ></tds-header-hamburger>

    <tds-header-title>Example: Few items</tds-header-title>

    <tds-header-item [attr.selected]="isActive('/page-one')">
      <a routerLink="/page-one">Page one</a>
    </tds-header-item>

    <tds-header-item selected="{{ getCurrentUrl() === '/page-two'}}">
      <a routerLink="/page-two">Page Two</a>
    </tds-header-item>

    <tds-header-item selected="{{ getCurrentUrl() === '/form'}}">
      <a routerLink="/form">form</a>
    </tds-header-item>

    <tds-header-dropdown>
      <span slot="button-label">Example dropdown</span>
      <tds-header-dropdown-list>
        <tds-header-dropdown-list-item>
          <a href="https://tegel.scania.com">Dropdown item 1</a>
        </tds-header-dropdown-list-item>
        <tds-header-dropdown-list-item>
          <a href="https://tegel.scania.com">Dropdown item 2</a>
        </tds-header-dropdown-list-item>
        <tds-header-dropdown-list-item>
          <a href="https://tegel.scania.com">Dropdown item 3</a>
        </tds-header-dropdown-list-item>
        <tds-header-dropdown-list-item>
          <a href="https://tegel.scania.com">Dropdown item 4</a>
        </tds-header-dropdown-list-item>
        <tds-header-dropdown-list-item>
          <a href="https://tegel.scania.com">Dropdown item 5</a>
        </tds-header-dropdown-list-item>
        <tds-header-dropdown-list-item>
          <a href="https://tegel.scania.com">Dropdown item 6</a>
        </tds-header-dropdown-list-item>
        <tds-header-dropdown-list-item>
          <a href="https://tegel.scania.com">Dropdown item 7</a>
        </tds-header-dropdown-list-item>
        <tds-header-dropdown-list-item>
          <a href="https://tegel.scania.com">Dropdown item 8</a>
        </tds-header-dropdown-list-item>
        <tds-header-dropdown-list-item>
          <a href="https://tegel.scania.com">Dropdown item 9</a>
        </tds-header-dropdown-list-item>
        <tds-header-dropdown-list-item>
          <a href="https://tegel.scania.com">Dropdown item 10</a>
        </tds-header-dropdown-list-item>
        <tds-header-dropdown-list-item>
          <a href="https://tegel.scania.com">Dropdown item 11</a>
        </tds-header-dropdown-list-item>
        <tds-header-dropdown-list-item>
          <a href="https://tegel.scania.com">Dropdown item 12</a>
        </tds-header-dropdown-list-item>
        <tds-header-dropdown-list-item>
          <a href="https://tegel.scania.com">Dropdown item 13</a>
        </tds-header-dropdown-list-item>
        <tds-header-dropdown-list-item>
          <a href="https://tegel.scania.com">Dropdown item 14</a>
        </tds-header-dropdown-list-item>
      </tds-header-dropdown-list>
    </tds-header-dropdown>

    <tds-header-brand-symbol slot="end">
      <a routerLink="/" aria-label="Scania - red gryphon on blue shield"></a>
    </tds-header-brand-symbol>
  </tds-header>

</ng-container>
