<tds-button id="modal-table-example" text="Open Modal"></tds-button>

<tds-modal
  header="Modal with Table component inside"
  selector="#modal-table-example"
  show="false"
  id="my-modal"
  size="md"
  actionsPosition="static"
  prevent="true"
>
  <span slot="body">
    <app-pagination-table></app-pagination-table>
  </span>
  <span slot="actions" class="tds-u-flex tds-u-gap2">
    <tds-button data-dismiss-modal size="md" text="Close modal" variant="secondary"></tds-button>
  </span>
</tds-modal>
