<div class="tds-headline-02 tds-u-pb1">Badge</div>
<div class="tds-u-flex tds-u-flex-dir-col tds-u-gap2">
  <tds-badge
    value="1"
    size="lg"
  ></tds-badge>
  <tds-badge
    value="-5"
    size="lg"
  ></tds-badge>
  <tds-text-field
    type="number"
    size="lg"
    state="success"
    label="Number of emails"
    name="emailCount"
    label-position="outside"
    placeholder="0"
    ngDefaultControl
    formControlName="emailCount"
    [value]="emailCount"
    (input)="updateEmailCount($event)"
  ></tds-text-field>
  <div class="tds-u-flex tds-u-gap2">
    <tds-button>
      <span slot="icon" class="button-badge-relative">
        <tds-icon name="email" size="24px"></tds-icon>
        <tds-badge [value]="emailCount" size="lg"></tds-badge>
      </span>
    </tds-button>
    <tds-button>
      <span
        slot="icon"
        class="button-badge-relative"
      >
        <tds-icon
          name="heart"
          size="24px"
        ></tds-icon
        ><tds-badge
          value="5"
          size="lg"
        ></tds-badge>
      </span>
    </tds-button>
  </div>
  <tds-button>
    <span
      slot="icon"
      class="button-badge-relative"
    >
      <tds-icon
        name="settings"
        size="24px"
      ></tds-icon
      ><tds-badge
        value="5"
        size="sm"
      ></tds-badge>
    </span>
  </tds-button>
</div>
