<section>
  <tds-dropdown-v2
  dropdown-directive
    mode-variant="secondary"
    name="country"
    label="Which country you want to select?"
    label-position="outside"
    placeholder="Country select"
    size="lg"
    open-direction="up"
  >
    <tds-dropdown-option-v2 value="sweden">
      Sweden
    </tds-dropdown-option-v2>

    <tds-dropdown-option-v2 disabled value="Finland">
      Finland
    </tds-dropdown-option-v2>
    <tds-dropdown-option-v2 value="norway">
      Norway
    </tds-dropdown-option-v2>
  </tds-dropdown-v2>
</section>
