<ng-container [formGroup]="dropdownGroup">
  <section class="tds-u-flex tds-u-flex-dir-col tds-u-gap3">
    <tds-dropdown
      formControlName="country"
      ngDefaultControl
      mode-variant="secondary"
      name="country"
      label="Which country you want to select?"
      label-position="outside"
      placeholder="Country select"
      size="lg"
      open-direction="down"
    >
      <tds-dropdown-option value="sweden"> Sweden </tds-dropdown-option>
      <tds-dropdown-option
        disabled
        value="Finland"
      >
        Finland
      </tds-dropdown-option>
      <tds-dropdown-option value="norway"> Norway </tds-dropdown-option>
    </tds-dropdown>

    <tds-dropdown
      formControlName="norwegianTown"
      ngDefaultControl
      #norwayDropdown
      mode-variant="secondary"
      name="norwayTown"
      label="Which towns have you visited in Norway?"
      label-position="outside"
      placeholder="Nowegian Town"
      size="lg"
      open-direction="down"
      multiselect

    >
      <tds-dropdown-option *ngFor="let town of nowegianTowns; let idx = index" value="{{town.value}}">
        {{ town.label }}
      </tds-dropdown-option>
    </tds-dropdown>

    <tds-dropdown
      formControlName="swedishTown"
      ngDefaultControl
      #swedenDropdown
      mode-variant="secondary"
      name="favoriteSweTown"
      label="Select your favorite Swedish town."
      label-position="outside"
      placeholder="Swedish Town"
      size="lg"
      open-direction="down"
      filter
    >
      <ng-container *ngFor="let town of swedishTowns; let idx = index">
        <tds-dropdown-option [value]="town.value">
          {{ town.label }}
        </tds-dropdown-option>
      </ng-container>
    </tds-dropdown>
  </section>
</ng-container>
