<div class="mode-wrapper {{ mode }}">
  <div class="mode-variant-wrapper {{ modeVariant }}">
    <tds-banner
      variant="information"
      icon="info"
      header="Angular demo"
    >
      <div slot="subheader">
        This is a demo page in Angular using
        <tds-link>
          <a
            href="https://www.npmjs.com/package/@scania/tegel-angular"
            target="_blank"
          >
            @scania/tegel-angular
          </a>
        </tds-link>
        <br />
        You can find the source code in this
        <tds-link>
          <a
            href="https://github.com/scania-digital-design-system/tegel-angular-demo"
            target="_blank"
            rel="noopener noreferrer"
          >
            GitHub repository
          </a>
        </tds-link>
      </div>
    </tds-banner>

    <tds-header>
      <tds-header-hamburger
        id="demo-hamburger"
        aria-label="Open application drawer"
        aria-haspopup="true"
        aria-expanded="false"
        (click)="toggleMobileSideMenu()"
      ></tds-header-hamburger>

      <tds-header-title>{{ title }} </tds-header-title>

      <tds-header-dropdown
        slot="end"
        no-dropdown-icon
        class="user-dropdown"
      >
        <div slot="icon">
          <img
            src="https://www.svgrepo.com/show/384676/account-avatar-profile-user-6.svg"
            alt="User menu."
          />
          <tds-badge size="sm"></tds-badge>
        </div>
        <tds-header-dropdown-list size="lg">
          <tds-header-dropdown-list-user
            header="{{ userName }}"
            subheader="{{ placeOfWork }}"
          ></tds-header-dropdown-list-user>
          <tds-header-dropdown-list-item>
            <a routerLink="settings">
              <tds-icon name="settings"></tds-icon>
              <div class="tds-u-pl1">Settings</div>
            </a>
          </tds-header-dropdown-list-item>
          <tds-header-dropdown-list-item>
            <a routerLink="notifications">
              <tds-badge
                *ngIf="notifications.length"
                [value]="notifications.length"
              ></tds-badge>
              <div class="tds-u-pl1">Notifications</div>
            </a>
          </tds-header-dropdown-list-item>
        </tds-header-dropdown-list>
      </tds-header-dropdown>

      <tds-header-brand-symbol slot="end">
        <a
          routerLink="/"
          aria-label="Scania - red gryphon on blue shield"
        ></a>
      </tds-header-brand-symbol>
    </tds-header>
    <div class="side-menu-and-main">
      <app-side-menu></app-side-menu>
      <main class="tds-u-w-100">
        <div class="tds-u-h-100">
          <div
            class="switcher-container"
            *ngIf="!is404page"
          >
            <app-mode-switcher (modeToggle)="handleModeToggle()"></app-mode-switcher>
            <app-mode-variant-switcher
              (modeVariantToggle)="handleModeVariantToggle()"
            ></app-mode-variant-switcher>
          </div>
          <div class="tds-u-h-100 tds-u-flex tds-u-flex-dir-col">
            <nav-breadcrumbs *ngIf="!is404page"></nav-breadcrumbs>

            <div
              [ngClass]="
                is404page
                  ? 'tds-u-h-100'
                  : 'main-container tds-u-pl3 tds-u-pr3 tds-u-pb3 tds-u-relative'
              "
            >
              <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
