@import url('https://cdn.digitaldesign.scania.com/icons/webfont/css/sdds-icons.css');
@import url('@scania/tegel/dist/tegel/tegel.css');

main {
  padding-top: 64px;
  overflow-y: auto;
  background-color: var(--tds-white);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 32px;
  max-width: 600px;
  justify-content: center;
  padding: 128px 0;
}
