main {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 600px;
  justify-content: center;
  padding: 128px 0;
}

.side-menu-and-main {
  display: flex;
  flex-grow: 1;
}


.mobile-nav-item {
  display: none;
}

tds-header {
  position: sticky;
  top: 0px;
}

.switcher-container {
  position: absolute;
  height: 60px;
  top: calc(96px + 68px);
  right: 32px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 992px) {
  tds-side-menu {
    height: calc(100vh - 64px);
    position: sticky;
    top: 64px;
    left: 0;
  }
}

@media screen and (max-width: 992px) {
  .mobile-nav-item {
    display: block;
  }
}