<div class="{{ mode }}">
  <div class="{{ modeVariant }}">
    <tds-banner variant="information" icon="info" header="Angular demo" persistent>
      <div slot="subheader">
        This is a demo page in Angular using
        <tds-link>
          <a href="https://tegel-storybook.netlify.app/?path=/docs/components--banner">
            @scania/tegel
          </a>
        </tds-link>
      </div>
    </tds-banner>    <tds-header>
      <tds-header-hamburger id="demo-hamburger" aria-label="Open application drawer" aria-haspopup="true"
        aria-expanded="false" (click)="toggleMobileSideMenu()"></tds-header-hamburger>

      <tds-header-title>{{ title }} </tds-header-title>

      <tds-header-item [selected]="isActive('/web-components')">
        <a routerLink="/web-components">Components</a>
      </tds-header-item>

      <tds-header-item [selected]="onSubRoute('/form')">
        <a routerLink="/form">Form</a>
      </tds-header-item>
      <tds-header-item>
        <tds-header-dropdown ref="{headerDropdown}" [selected]="isActive('/tabs-buttons') || onSubRoute('/tabs-links')">
          <span slot="label">Tabs</span>
          <tds-header-dropdown-list>
            <tds-header-dropdown-list-item [selected]="isActive('/tabs-buttons')">
              <a routerLink="/tabs-buttons">Buttons</a>
            </tds-header-dropdown-list-item>
            <tds-header-dropdown-list-item [selected]="onSubRoute('/tabs-links')">
              <a routerLink="tabs-links">Links</a>
            </tds-header-dropdown-list-item>
          </tds-header-dropdown-list>
        </tds-header-dropdown>
      </tds-header-item>


      <tds-header-item [selected]="isActive('/text')">
        <a routerLink="/text">Text</a>
      </tds-header-item>
      <tds-header-item [selected]="isActive('/chips')">
        <a routerLink="/chips">Chips</a>
      </tds-header-item>

      <tds-header-dropdown slot="end" no-dropdown-icon class="user-dropdown">
        <div slot="icon">
          <img src="https://www.svgrepo.com/show/384676/account-avatar-profile-user-6.svg" alt="User menu." />
          <tds-badge size="sm"></tds-badge>
        </div>
        <tds-header-dropdown-list size="lg">
          <tds-header-dropdown-list-user header="{{ userName }}"
            subheader="{{ placeOfWork }}"></tds-header-dropdown-list-user>
          <tds-header-dropdown-list-item>
            <a routerLink="settings">
              <tds-icon name="settings"></tds-icon>
              <div class="tds-u-pl1">Settings</div>
            </a>
          </tds-header-dropdown-list-item>
          <tds-header-dropdown-list-item>
            <a routerLink="notifications">
              <tds-badge *ngIf="notifications.length" [value]="notifications.length"></tds-badge>
              <div class="tds-u-pl1">Notifications</div>
            </a>
          </tds-header-dropdown-list-item>
        </tds-header-dropdown-list>
      </tds-header-dropdown>

      <tds-header-brand-symbol slot="end">
        <a routerLink="/" aria-label="Scania - red gryphon on blue shield"></a>
      </tds-header-brand-symbol>
    </tds-header>
    <div class="side-menu-and-main">
      <tds-side-menu aria-label="Side menu" persistent open="{{ mobileNavOpen }}">
        <tds-side-menu-overlay (click)="toggleMobileSideMenu()" slot="overlay"></tds-side-menu-overlay>

        <tds-side-menu-close-button slot="close-button" (click)="toggleMobileSideMenu()"></tds-side-menu-close-button>

        <tds-side-menu-item [selected]="isActive('/about')">
          <a routerLink="/about" (click)="toggleMobileSideMenu()">
            <tds-icon name="info" size="24"></tds-icon>
            About us
          </a>
        </tds-side-menu-item>
        <tds-side-menu-item [selected]="isActive('/stepper')">
          <a routerLink="/stepper" (click)="toggleMobileSideMenu()">
            <tds-icon name="report" size="24"></tds-icon>
            Stepper
          </a>
        </tds-side-menu-item>
        <tds-side-menu-item [selected]="isActive('/table')">
          <a routerLink="/table" (click)="toggleMobileSideMenu()">
            <tds-icon name="document_tool" size="24"></tds-icon>
            Table
          </a>
        </tds-side-menu-item>
        <tds-side-menu-item class="mobile-nav-item" [selected]="isActive('/web-components')">
          <a routerLink="/web-components" (click)="toggleMobileSideMenu()">
            <tds-icon name="tool" size="24"></tds-icon>
            Components
          </a>
        </tds-side-menu-item>
        <tds-side-menu-item class="mobile-nav-item" [selected]="isActive('/form')">
          <a routerLink="/form" (click)="toggleMobileSideMenu()">
            <tds-icon name="edit" size="24"></tds-icon>
            Form
          </a>
        </tds-side-menu-item>

        <tds-side-menu-dropdown class="mobile-nav-item" [defaultOpen]="onSubRoute('/tabs')"
          [selected]="onSubRoute('/tabs')">
          <tds-icon slot="button-icon" name="folder" size="24"></tds-icon>
          <span slot="button-label">Tabs</span>
          <tds-side-menu-dropdown-list >
            <tds-side-menu-dropdown-list-item [selected]="isActive('/tabs-buttons')">
              <a (click)="toggleMobileSideMenu()" routerLink="/tabs-buttons">Buttons</a>
            </tds-side-menu-dropdown-list-item>
            <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/tabs-links')">
              <a (click)="toggleMobileSideMenu()" routerLink="/tabs-links">Links</a>
            </tds-side-menu-dropdown-list-item>
          </tds-side-menu-dropdown-list>
        </tds-side-menu-dropdown>

        <tds-side-menu-item class="mobile-nav-item" [selected]="isActive('/text')">
          <a routerLink="/text" (click)="toggleMobileSideMenu()">
            <tds-icon name="document" size="24"></tds-icon>
            Text
          </a>
        </tds-side-menu-item>

        <div slot="end">
          <tds-side-menu-dropdown>
            <tds-side-menu-user slot="button-label" heading="{{ userName }}" subheading="{{ placeOfWork }}"
              img-src="https://www.svgrepo.com/show/384676/account-avatar-profile-user-6.svg"
              img-alt=""></tds-side-menu-user>
            <tds-side-menu-dropdown-list>
              <tds-side-menu-dropdown-list-item>
                <a routerLink="settings">
                  <tds-icon name="settings"></tds-icon>
                  <div class="tds-u-pl1">Settings</div>
                </a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item>
                <a routerLink="notifications">
                  <tds-badge *ngIf="notifications.length" [value]="notifications.length"></tds-badge>
                  <div class="tds-u-pl1">Notifications</div>
                </a>
              </tds-side-menu-dropdown-list-item>
            </tds-side-menu-dropdown-list>
          </tds-side-menu-dropdown>
        </div>

        <tds-side-menu-collapse-button slot="sticky-end"></tds-side-menu-collapse-button>
      </tds-side-menu>
      <main class="tds-u-w-100">
        <div class="tds-u-h-100">
          <app-breadcrumbs></app-breadcrumbs>
          <div class="switcher-container">
            <app-mode-switcher (modeToggle)="handleModeToggle()"></app-mode-switcher>
            <app-mode-variant-switcher (modeVariantToggle)="handleModeVariantToggle()"></app-mode-variant-switcher>
          </div>
          <div class="main-container tds-u-pl3 tds-u-pr3 tds-u-pb3">
            <router-outlet></router-outlet>
          </div>
        </div>
        <app-footer></app-footer>
      </main>
    </div>
  </div>
</div>