<div>
    <div class="tds-headline-02 tds-u-pb1">Button</div>
    <p>
        These buttons trigger the same function on click, but the disabled button will prevent
        default and never run the function.
    </p>
    <div class="tds-u-pb1">
        <tds-button onclick="alert('Hello World')" variant="primary" size="lg" fullbleed text="Primary fullbleed"></tds-button>
    </div>
    <div class="tds-u-pb1">
        <tds-button onclick="alert('Hello World')" variant="primary" text="Primary fullbleed (disabled)" fullbleed disabled></tds-button>
    </div>
    <div class="tds-u-flex tds-u-gap1 tds-u-pb1">
        <tds-button onclick="alert('Hello World')" fullbleed variant="danger" text="Danger" size="md"></tds-button>
        <tds-button onclick="alert('Hello World')" fullbleed variant="ghost" text="Ghost" size="md"></tds-button>
        <tds-button onclick="alert('Hello World')" fullbleed variant="secondary" text="Secondary" size="md"></tds-button>
    </div>
    <div class="tds-u-flex tds-u-gap1 tds-u-pb1">
        <tds-button onclick="alert('Hello World')" fullbleed variant="danger" size="sm">
            <tds-icon slot="icon" size="16px" name="error"></tds-icon>
        </tds-button>
        <tds-button onclick="alert('Hello World')" fullbleed variant="ghost" size="sm">
            <tds-icon slot="icon" size="16px" name="truck"></tds-icon>
        </tds-button>
        <tds-button onclick="alert('Hello World')" fullbleed variant="secondary" size="sm">
            <tds-icon slot="icon" size="16px" name="arrow_diagonal"></tds-icon>
        </tds-button>
    </div>
    <div class="tds-u-pb1">
        <tds-button onclick="alert('Hello World')" variant="primary" text="Primary" size="sm"></tds-button>
    </div>
    <div class="tds-u-pb1">
        <tds-button onclick="alert('Hello World')" variant="primary" text="Primary (disabled)" size="sm" disabled></tds-button>
    </div>
    <div class="tds-u-flex tds-u-gap1 tds-u-pb1">
        <tds-button onclick="alert('Hello World')" variant="danger" text="Danger" size="xs"></tds-button>
        <tds-button onclick="alert('Hello World')" variant="ghost" text="Ghost" size="xs"></tds-button>
        <tds-button onclick="alert('Hello World')" variant="secondary" text="Secondary" size="xs"></tds-button>
    </div>
    <div class="tds-u-flex tds-u-gap1 tds-u-pb1">
        <tds-button onclick="alert('Hello World')" variant="danger" size="sm">
            <tds-icon slot="icon" size="16px" name="error"></tds-icon>
        </tds-button>
        <tds-button onclick="alert('Hello World')" variant="ghost" size="sm">
            <tds-icon slot="icon" size="16px" name="truck"></tds-icon>
        </tds-button>
        <tds-button onclick="alert('Hello World')" variant="secondary" size="sm">
            <tds-icon slot="icon" size="16px" name="arrow_diagonal"></tds-icon>
        </tds-button>
    </div>
</div>
