<div class="tds-headline-02 tds-u-pb1">Tag</div>

<div class="tds-u-flex tds-u-flex-dir-col tds-u-gap2">
  <div>
    <h3 class="tds-headline-03 tds-u-pb1">Large Tags</h3>
    <div class="tds-u-flex tds-u-gap2 tds-u-pb1">
      <tds-tag text="Neutral" variant="Neutral" size="Large"></tds-tag>
      <tds-tag text="Success" variant="Success" size="Large"></tds-tag>
      <tds-tag text="Warning" variant="Warning" size="Large"></tds-tag>
      <tds-tag text="Error" variant="Error" size="Large"></tds-tag>
      <tds-tag text="Information" variant="Information" size="Large"></tds-tag>
      <tds-tag text="New" variant="New" size="Large"></tds-tag>
    </div>
  </div>

  <div>
    <h3 class="tds-headline-03 tds-u-pb1">Small Tags</h3>
    <div class="tds-u-flex tds-u-gap2 tds-u-pb1">
      <tds-tag text="Neutral" variant="Neutral" size="Small"></tds-tag>
      <tds-tag text="Success" variant="Success" size="Small"></tds-tag>
      <tds-tag text="Warning" variant="Warning" size="Small"></tds-tag>
      <tds-tag text="Error" variant="Error" size="Small"></tds-tag>
      <tds-tag text="Information" variant="Information" size="Small"></tds-tag>
      <tds-tag text="New" variant="New" size="Small"></tds-tag>
    </div>
  </div>

  <div>
    <h3 class="tds-headline-03 tds-u-pb1">Tags with Icons</h3>
    <div class="tds-u-flex tds-u-gap2 tds-u-pb1">
      <tds-tag text="Success" variant="Success" size="Large">
        <tds-icon slot="icon" name="check" size="16px"></tds-icon>
      </tds-tag>
      <tds-tag text="Warning" variant="Warning" size="Large">
        <tds-icon slot="icon" name="warning" size="16px"></tds-icon>
      </tds-tag>
      <tds-tag text="Error" variant="Error" size="Large">
        <tds-icon slot="icon" name="error" size="16px"></tds-icon>
      </tds-tag>
      <tds-tag text="Information" variant="Information" size="Large">
        <tds-icon slot="icon" name="info" size="16px"></tds-icon>
      </tds-tag>
    </div>
  </div>

  <div>
    <h3 class="tds-headline-03 tds-u-pb1">Small Tags with Icons</h3>
    <div class="tds-u-flex tds-u-gap2 tds-u-pb1">
      <tds-tag text="Success" variant="Success" size="Small">
        <tds-icon slot="icon" name="check" size="14px"></tds-icon>
      </tds-tag>
      <tds-tag text="Warning" variant="Warning" size="Small">
        <tds-icon slot="icon" name="warning" size="14px"></tds-icon>
      </tds-tag>
      <tds-tag text="Error" variant="Error" size="Small">
        <tds-icon slot="icon" name="error" size="14px"></tds-icon>
      </tds-tag>
      <tds-tag text="Information" variant="Information" size="Small">
        <tds-icon slot="icon" name="info" size="14px"></tds-icon>
      </tds-tag>
    </div>
  </div>
</div>
