<div class="tds-headline-02 tds-u-pb1">Chip</div>

<legend class="tds-body-01 tds-u-pb1">Button</legend>
<div class="tds-u-flex tds-u-gap1 tds-u-mb3">
  <tds-chip
    size="lg"
    onclick="alert('Clicked chip!')"
  >
    <tds-icon
      slot="prefix"
      name="lock_inactive"
      size="16px"
    ></tds-icon>
    <span slot="label">Lock</span>
  </tds-chip>
  <tds-chip
    size="lg"
    onclick="alert('Clicked chip!')"
  >
    <tds-icon
      slot="prefix"
      name="notification"
      size="16px"
    ></tds-icon>
    <span slot="label">Set alarm</span>
  </tds-chip>
</div>

<form (submit)="handleSubmit($event)">
  <fieldset class="tds-u-mb3">
    <legend class="tds-body-01 tds-u-pb1">Checkbox</legend>
    <div class="tds-u-flex tds-u-gap1 tds-u-flex-wrap">
      <div *ngFor="let topic of data.topic.fields; let i = index">
        <tds-chip
          [type]="'checkbox'"
          [name]="'topic'"
          [value]="topic.name"
          [checked]="data.topic.preselected === topic.id"
          (tdsChange)="handleTdsChange($event)"
        >
          <span slot="label">{{ topic.name }}</span>
        </tds-chip>
      </div>
    </div>
  </fieldset>

  <fieldset class="tds-u-mb3">
    <legend class="tds-body-01 tds-u-pb1">Radio Button</legend>

    <div class="tds-u-flex tds-u-gap1 tds-u-flex-wrap">
      <div *ngFor="let size of data.size.fields; let i = index">
        <tds-chip
          [type]="'radio'"
          [name]="'size'"
          [value]="size.name"
          [checked]="data.size.preselected === size.id"
          (tdsChange)="handleTdsChange($event)"
        >
          <span slot="label">{{ size.name }}</span>
        </tds-chip>
      </div>
    </div>
  </fieldset>
  <tds-button
    text="Submit"
    type="submit"
    size="md"
  ></tds-button>
</form>
<pre>{{ submittedData }}</pre>
