<div>
  <div class="tds-headline-02 tds-u-pb1">Banner</div>
  <div class="tds-u-flex tds-u-flex-dir-col tds-u-gap1">
    <tds-banner
      icon="error"
      header="This Banner won't close"
      variant="error"
      (tdsClose)="handleClose($event)"
    >
      <div slot="subheader">Due to its tdsClose event being prevented.</div>
    </tds-banner>
    <tds-banner
      icon="info"
      header="This Banner will close."
      variant="information"
      subheader="And it also has a link."
    >
      <tds-link slot="bottom">
        <a href="/">Link example</a>
      </tds-link>
    </tds-banner>
    <tds-banner
      #defaultBanner
      id="my-banner"
      icon="save"
      [header]="'Default banner'"
    >
      <div slot="subheader">
        You can toggle visibility of this one programmatically with toggle below
      </div>
    </tds-banner>
  </div>

  <div class="tds-u-mt2">
    <tds-toggle
      (tdsToggle)="handleBannerVisibility()"
      [checked]="true"
    >
      <div slot="label">Show last banner</div>
    </tds-toggle>
  </div>
</div>
