<div>
  <div class="tds-headline-02 tds-u-pb1">Banner</div>
  <div class="tds-u-flex tds-u-flex-dir-col tds-u-gap1">
    <tds-banner
      #errorBanner
      icon="error"
      header="This Banner won't close"
      variant="error"
      (tdsClose)="handleClose($event)"
    >
    </tds-banner>
    <tds-banner
      #informationBanner 
      icon="info"
      header="This Banner will close."
      variant="information"
    >
    </tds-banner>
    <tds-banner
      #defaultBanner
      id="my-banner"
      icon="save"
      header="This the default Banner."
    >
    </tds-banner>
  </div>

  <div class="tds-u-mt2">
    <p>You can also show and hide the banners using the toggle below.</p>
    <tds-toggle
      (tdsToggle)="handleBannerVisibility()"
    >
      <div slot="label">{{ bannerVisibility ? 'Hide Banner' : 'Show Banner' }}</div>
    </tds-toggle>
  </div>
</div>
