<ng-container [formGroup]="checkboxGroup">
    <div>
      <h5>Which offices do you work from?</h5>
      <div>
        <tds-checkbox
          name="sodertalje"
          value="sodertalje"
          formControlName="sodertalje"
        >
          <span slot="label">Södertälje 321</span>
        </tds-checkbox>
        <tds-checkbox
          name="sergel"
          value="sergel"
          formControlName="sergel"
        >
          <span slot="label">Sergel</span>
        </tds-checkbox>
        <tds-checkbox
          name="homeOffice"
          value="homeOffice"
          formControlName="homeOffice"
        >
          <span slot="label">Home Office</span>
        </tds-checkbox>
        <tds-checkbox
          name="building260"
          value="building260"
          formControlName="building260"
          [disabled]="true"
        >
          <span slot="label">Building 260</span>
        </tds-checkbox>
      </div>
    </div>
</ng-container>
