<div>
    <div class="tds-headline-02 tds-u-pb1">Popover Menu</div>
      <div class="popover-container">
        <tds-button
          aria-label="menu"
          only-icon
          variant="ghost"
          size="sm"
          #trigger1
        >
          <tds-icon slot="icon" class="tds-btn-icon" size="16px" name="kebab"></tds-icon>
        </tds-button>
      </div>
      <tds-popover-menu
        placement="auto"
        [referenceEl]="trigger1"
      >
        <ul class="tds-popover-menu-wrapper">
          <li>
            <a target="_blank" rel="noopener noreferrer" href="https://digitaldesign.scania.com">
              <i>
                <tds-icon name="save" size="16px"></tds-icon>
              </i>
              Menu item 1
            </a>
          </li>
          <li>
            <a target="_blank" rel="noopener noreferrer" href="https://digitaldesign.scania.com">
              <i>
                <tds-icon name="save" size="16px"></tds-icon>
              </i>
              Menu item 2
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a target="_blank" rel="noopener noreferrer" href="https://digitaldesign.scania.com">
              <i>
                <tds-icon name="save" size="16px"></tds-icon>
              </i>
              Menu item 4
            </a>
          </li>
        </ul>
      </tds-popover-menu>

      <div class="popover-container">
        <tds-button
          aria-label="menu"
          only-icon
          id="triggerElement"
          variant="primary"
          size="sm"
        >
          <tds-icon slot="icon" class="tds-btn-icon" size="16px" name="kebab"></tds-icon>
        </tds-button>
      </div>
      <tds-popover-menu
        placement="auto"
        selector="#triggerElement"
      >
        <ul class="tds-popover-menu-wrapper">
          <li>
            <a target="_blank" rel="noopener noreferrer" href="https://digitaldesign.scania.com">
              <i>
                <tds-icon name="save" size="16px"></tds-icon>
              </i>
              Menu item 1
            </a>
          </li>
          <li>
            <a target="_blank" rel="noopener noreferrer" href="https://digitaldesign.scania.com">
              <i>
                <tds-icon name="save" size="16px"></tds-icon>
              </i>
              Menu item 2
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a target="_blank" rel="noopener noreferrer" href="https://digitaldesign.scania.com">
              <i>
                <tds-icon name="save" size="16px"></tds-icon>
              </i>
              Menu item 4
            </a>
          </li>
        </ul>
      </tds-popover-menu>
</div>