<section class="card-section">
  <tds-card
    header="Header text"
    header-placement="below"
    subheader="Subheader text"
    header-img="../../../assets/images/user.png"
    body-img="../../../assets/images/truck.jpeg"
    clickable
  >
    <div slot="card-bottom">
      <tds-icon style="font-size: 20px;" name="arrow_right"></tds-icon>
    </div>
  </tds-card>

  <tds-card
    header="Header text"
    header-placement="below"
    subheader="Subheader text"
    header-img="../../../assets/images/user.png"
    body-img="../../../assets/images/truck.jpeg"
    clickable
  >
    <div slot="card-bottom">
      <tds-icon style="font-size: 20px;" name="arrow_right"></tds-icon>
    </div>
  </tds-card>

  <tds-card
    header="Header text"
    header-placement="below"
    subheader="Subheader text"
    header-img="../../../assets/images/user.png"
    body-img="../../../assets/images/truck.jpeg"
    clickable
  >
    <div slot="card-bottom">
      <tds-icon style="font-size: 20px;" name="arrow_right"></tds-icon>
    </div>
  </tds-card>

  <tds-card
    header="Header text"
    header-placement="below"
    subheader="Subheader text"
    header-img="../../../assets/images/user.png"
    body-img="../../../assets/images/truck.jpeg"
    clickable
  >
    <div slot="card-bottom">
      <tds-icon style="font-size: 20px;" name="arrow_right"></tds-icon>
    </div>
  </tds-card>
</section>

<section class="tabs-section">

</section>
