.card-section {
  margin: 32px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media screen and (max-width: 578px) {
  .card-section tds-card {
    display: flex;
    justify-content: center;
  }
}

.tabs-section {
  margin: 32px;
}
