<div>
  <sdds-card
    header="Header text"
    header-placement="below"
    subheader="Subheader text"
    header-img="../../../assets/images/user.png"
    body-img="../../../assets/images/truck.jpeg"
    clickable
  >
    <div slot="card-bottom">
      <sdds-icon style="font-size: 20px;" name="arrow_right"></sdds-icon>
    </div>
  </sdds-card>

  <sdds-card
    header="Header text"
    header-placement="below"
    subheader="Subheader text"
    header-img="../../../assets/images/user.png"
    body-img="../../../assets/images/truck.jpeg"
    clickable
  >
    <div slot="card-bottom">
      <sdds-icon style="font-size: 20px;" name="arrow_right"></sdds-icon>
    </div>
  </sdds-card>

  <sdds-card
    header="Header text"
    header-placement="below"
    subheader="Subheader text"
    header-img="../../../assets/images/user.png"
    body-img="../../../assets/images/truck.jpeg"
    clickable
  >
    <div slot="card-bottom">
      <sdds-icon style="font-size: 20px;" name="arrow_right"></sdds-icon>
    </div>
  </sdds-card>

  <sdds-card
    header="Header text"
    header-placement="below"
    subheader="Subheader text"
    header-img="../../../assets/images/user.png"
    body-img="../../../assets/images/truck.jpeg"
    clickable
  >
    <div slot="card-bottom">
      <sdds-icon style="font-size: 20px;" name="arrow_right"></sdds-icon>
    </div>
  </sdds-card>
</div>
