/* @import "reset.css"; */
@import url('@scania/tegel/dist/tegel/tegel.css');
@import 'utility-classes.css'; 

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.capitalize {
	text-transform: capitalize;
}


.breadcrumbs {
  display: flex;
  align-items: center;
  height: var(--tds-header-height);
}