@import "reset.css";
@import url('@scania/tegel/dist/tegel/tegel.css');


.tds-mode-dark {
  color: var(--tds-grey-100);
  background-color: var(--tds-grey-958);
}

.tds-mode-dark.tds-mode-primary {
  color: var(--tds-grey-100);
  background-color: var(--tds-grey-958);
}
.tds-mode-dark.tds-mode-secondary {
  color: var(--tds-grey-100);
  background-color: var(--tds-grey-900);
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.capitalize {
	text-transform: capitalize;
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}


.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

section.form-section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 48px;
}

fieldset {
  all: unset;
}
