<ng-container [formGroup]="sliderGroup">

  <div  class="tds-u-flex tds-u-flex-dir-col tds-u-gap3 tds-u-mb3">
  <h3>Sliders</h3>
  <h5>Tell us how you feel about your..</h5>
  <tds-slider
    label="..happiness at work"
    name="happines"
    min="0"
    value="5"
    show-tick-numbers
    max="10"
    ticks="9"
    snap
    (tdsChange)="handleChange($event)"

  ></tds-slider>

  <h4>Disabled</h4>
  <tds-slider
    #stressSlider
    formControlName="stress"
    ngDefaultControl
    label="..stress level  disabled slider"
    name="stress"
    min="0"
    value="5"
    show-tick-numbers
    max="10"
    ticks="9"
    snap
    (tdsChange)="handleChange($event)"
  ></tds-slider>

  <h4>Read-Only</h4>

  <tds-slider
    #balanceSlider
    formControlName="balance"
    ngDefaultControl
    label="..work/life balance."
    name="balance"
    min="0"
    value="5"
    show-tick-numbers
    max="10"
    ticks="9"
    snap
    (tdsChange)="handleChange($event)"
  ></tds-slider>
</div>
</ng-container>
