<ng-container [formGroup]="sliderGroup">

<section>
  <h3>Sliders</h3>
  <h5>Tell us how you feel about your..</h5>
  <tds-slider
    label="..happiness at work"
    name="happinessAtWork"
    min="0"
    value="5"
    show-tick-numbers
    max="10"
    ticks="9"
    snap
    (tdsChange)="handleChange($event, 'happines')"
  ></tds-slider>

  <h4>Disabled</h4>
  <tds-slider
    #stressSlider
    formControlName="stress"
    ngDefaultControl
    label="..stress level  disabled slider"
    name="stressLevel"
    min="0"
    value="5"
    show-tick-numbers
    max="10"
    ticks="9"
    snap
    (tdsChange)="handleChange($event, 'stress')"
  ></tds-slider>

  <h4>Read-Only</h4>

  <tds-slider
    #balanceSlider
    formControlName="balance"
    ngDefaultControl
    label="..work/life balance."
    name="workLifeBalance"
    min="0"
    value="5"
    show-tick-numbers
    max="10"
    ticks="9"
    snap
    (tdsChange)="handleChange($event, 'balance')"

  ></tds-slider>
</section>
</ng-container>